// ----------------------
// Reset styles
// ----------------------

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  padding: 0;

  border: 0;
}

:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}

// Too long placeholder
.form__control[placeholder]:not([type="password"]) {
  text-overflow: ellipsis;
}

.form__control:not([type="password"])::-moz-placeholder {
  text-overflow: ellipsis;
}

.form__control:not([type="password"]):-moz-placeholder {
  text-overflow: ellipsis;
}

.form__control:not([type="password"]):-ms-input-placeholder {
  text-overflow: ellipsis;
}

// Hide placeholder on focus
:focus::-webkit-.form__control-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-.form__control-placeholder {
  color: transparent;
}

.form__control[type=number] {
  -moz-appearance: textfield;
}

.form__control::-webkit-outer-spin-button,
.form__control::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

// Hide calendar-picker-indicator
.form__control::-webkit-calendar-picker-indicator {
  display: none;
}

// Hide clear button for IE
.form__control::-ms-clear,
.form__control::-ms-reveal {
  display: none;
}

.form__control[type="date"]::-webkit-.form__control-placeholder {
  visibility: hidden !important;
}

// Hide outline and borders
a:focus, a:active,
button::-moz-focus-inner,
.form__control[type="reset"]::-moz-focus-inner,
.form__control[type="button"]::-moz-focus-inner,
.form__control[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
.form__control[type="file"] > .form__control[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0;
}

// Label select fix
label {
  cursor: pointer;
  user-select: none;
}

// Only vertical resize for textarea
textarea {
  resize: none;
}

// Remove default cursive style
address {
  font-style: normal;
}

// Remove default field outline
.form__control:focus,
textarea:focus {
  outline: none;
}

// Adaptive images
img {
  height: auto;
  max-width: 100%;
  width: auto\9;
}

// Remove default styles for lists
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Fix for Google Maps
.gmap img {
  max-width: none;
}

a {
  text-decoration: none;
  color: inherit;

  outline: 0;

  cursor: pointer;
}

canvas {
  display: block;
  vertical-align: bottom;
}

button,
.form__control {
  border: none;

  background: none;

  font: inherit;

  outline: 0;

  cursor: pointer;
}

button:focus {

  outline: none !important;
}

/**
 * Remove browser default
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

// Opera
html:not([dir="rtl"]) input {

  text-align: left;
}

// Change Autocomplete Styles in WebKit Browsers
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #4f5f81;
}